<h5>
	<b>High Net Worth Investor</b>
</h5>
<p>By clicking 'Next' or 'Submit', you confirm that you qualify as a high-net-worth investor on the basis that 
A or B apply to you.</p>
<p>In the last financial year did you have:</p>
<ul>
	<li>
		<p>
			(A) an annual <b>income of £100,000 or more?</b> Income does NOT include any one off pension withdrawals.
		</p>
	</li>
	<li>
		<p>
			(B) <b>net assets of £250,000 or more?</b> Net assets do NOT include: your home (primary residence), your pension (or any pension withdrawals) or any rights under qualifying contracts of insurance.
		</p>
	</li>
</ul>
<p>
	<b>I accept that being a high-net-worth investor will expose me to promotions 
for investment where there is a significant risk of losing all the money I 
invest.</b> I am aware that it is open to me to seek professional advice before making 
any investment in a high-risk investment. 
</p>
