<h5>
	<b>Restricted Investor</b>
</h5>
<p>The majority of investors will fall into this broad category.
</p>
<p>Putting all your money into a single business or type of investment is risky. Spreading your money across different investments makes you less dependent on any one to do well.</p>
<p>You should not invest more than 10% of your net assets in high-risk investments. Doing so could expose you to significant losses.
</p>
<p>For the purposes of this statement,
	<b>net assets do NOT include</b>: your home (primary residence), your pension (or any pension withdrawals) or any rights under qualifying contracts of insurance.</p>
<p>For the purposes of this statement
	<b>high-risk investments</b>
	are: peer-to-peer (P2P) loans; investment based crowdfunding; and unlisted debt and equity (such as in companies not listed on an exchange like the London Stock Exchange).
</p>
<p>By clicking 'Next' or 'Submit', you confirm that you qualify as a restricted investor on the basis that <b>both A 
and B</b> apply to you.</p>
<ul>
	<li>
		<p>
			(A) In the
			<b>past twelve months</b>
			I have invested less than 10% of my net assets in high-risk investments (as defined above)
		</p>
	</li>
	<li>
		<p>
			(B) In the
			<b>next twelve months</b>
			I intend to limit my investment in high-risk investments (as defined above) to less than 10% of my net assets
		</p>
	</li>
</ul>
<p>
	<b>I accept that being a restricted investor will expose me to promotions for investment where there is a risk of losing all the money I invest.</b>
	I am aware that it is open to me seek to professional advice before making any investment in a high-risk investment.
</p>