<h5>
	<b>Sophisticated Investor</b>
</h5>
<p>By clicking 'Next' or 'Submit', you confirm that you qualify as a self-certified sophisticated investor on 
	the basis that any of A, B, C
	<b>or</b>
	D apply to you.</p>
<p>In the last two years have you:</p>
<ul>
	<li>
		<p>
			(A) worked in
			<b>private equity</b>
			or in the
			<b>provision of finance for small and medium enterprises?</b>
		</p>
	</li>
	<li>
		<p>
			(B) been the
			<b>director of a company</b>
			with an annual turnover of at least £1 million?
		</p>
	</li>
	<li>
		<p>
			(C) made two or more
			<b>investments in an unlisted company?</b>
		</p>
	</li>
	<li>
		<p>
			(D) been a
			<b>member of a network or syndicate of business angels for more than six months?</b>
		</p>
	</li>
</ul>
<p>
	<b>I accept that being a self-certified sophisticated investor will expose me to 
				promotions for investments where there is a significant risk of losing all the 
				money I invest.</b>
	I am aware that it is open to me seek advice from someone who 
		specialises in advising on investment based crowdfunding and unlisted debt and equity (such as in companies not listed on an exchange like the London Stock Exchange)
</p>
