{% if active is not defined %}
    {% set active = '' %}
{% endif %}
{% if sub_active is not defined %}
    {% set sub_active = '' %}
{% endif %}

{% set hasUserInfo = false %}
{% set authenticated = false %}
{% if app.session.has('authenticated') %}
    {% set authenticated = app.session.get('authenticated') %}
{% endif %}
{% if app.session.has('userInfo') %}
    {% set hasUserInfo = app.session.has('userInfo') %}
    {% set userInfo = app.session.get('userInfo') %}
{% endif %}

{% extends '@AppBundle/base.html.twig' %}

{% block title %}My Profile
{% endblock %}

{% block body %}

    <!-- main body -->
    <main role="main">
        {% include('@AppBundle/Common/breadcrumb.html.twig')%}

        <section>
            <div class="container my-2 my-md-4">
                <div class="page-head pb-2 d-flex justify-content-between align-items-center">
                    <h3><img src="{{asset('bundles/app/svg/')}}account_circle.svg" loading="lazy" alt="">
                        My Profile</h3>
                </div>
                <div class="row no-gutters border-top">
                    <div class="col-md-3">
                        {% include('@AppBundle/Common/profilenav.html.twig')%}
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content p-1 pt-md-4 pl-md-4 pb-md-4">
                            <h4>Add New Bank Account</h4>
                            <div class="d-flex justify-content-start my-2" style="gap: 0.5rem;">
                                <a class="btn btn-light rounded-pill px-1 px-sm-2" href={{ path('bank_account_registrations_index') }} role="button">Cancel</a>
                            </div> 
                            <p>We currently support GB (local/domestic transfer) and IBAN (international transfer) accounts. All withdrawals are made in £ (GBP) so your (receiving) bank is responsible for any currency conversion.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="border rounded p-3 mb-3 mt-2 text-left" id="account-type-gb">
                                        <h6>GB Bank Account</h6>
                                        <p>You will need to provide the following:</p>
                                        <ul>
                                            <li>8-digit bank account number</li>
                                            <li>6-digit sort code</li>
                                            <li>Recent bank statement from within the last 3 months</li>
                                        </ul>
                                        <div class="d-flex" style="gap: 0.5rem;">
                                            <a class="btn btn-primary rounded-pill px-1 px-sm-2" href={{ path('bank_account_registrations_new_type', { type: "gb"}) }} role="button">Add GB Bank Account</a>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="border rounded p-3 mb-3 mt-2 text-left" id="account-type-iban">
                                        <h6>IBAN Bank Account</h6>
                                        <p>You will need to provide the following:</p>
                                        <ul>
                                            <li>IBAN</li>
                                            <li>BIC</li>
                                            <li>Recent bank statement from within the last 3 months</li>
                                        </ul>
                                        <div class="d-flex" style="gap: 0.5rem;">
                                            <a class="btn btn-primary rounded-pill px-1 px-sm-2" href={{ path('bank_account_registrations_new_type', { type: "iban"}) }} role="button">Add IBAN Bank Account</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


{% endblock %}
