<div class="btn-group border">
    {% if is_granted('CAN_UPDATE_DOC', app.user) %}
     <a href="{{ path('admin_userdocument_edit', { id: userdocument.id }) }}" type="button" class="btn btn-light"><i class="fa fa-pen"></i></a>
     {% endif %}
     <a href="{{ path('admin_document_download', {
        'id' : userdocument.document.id,
        'type': 'private' 
    } ) }}" type="button" class="btn btn-light"><i class="fa fa-download"></i></a>
    <a href="{{ path('admin_document_download', { 
        'id' : userdocument.document.id,
        'type': 'private',
        'preview': 1,
    } ) }}" target="_blank" type="button" class="btn btn-light"><i class="fa fa-arrow-up-right-from-square"></i></a>
    {% if is_granted('CAN_DELETE_DOC', app.user) %}
    <a href="{{ path('admin_userdocument_delete', { id: userdocument.id }) }}" type="button" class="btn btn-danger" onclick="return confirm('Are you sure? There is no undo for this operation')"><i class="fa fa-trash"></i></a>
    {% endif %}
</div>