{% if issues|default([])|length > 0 %}

    <div class="col-12">
        {% embed 'admin/components/_bordered_section.html.twig' with {
            "sectionId": "validation-issues-warning",
            "sectionTitle": "Issues Found with Order",
            "sectionStyle": "border rounded-3 p-4 border-warning",
            "linkActions": linkActions|default([]),
        } %}
            {% block sectionContent %}

            {% embed 'admin/components/_alert.html.twig' with {
                variant: 'warning',
            } %}
                {% block message %}
                    <p class="">There are one or more issues identified for this order:</p>
                    <ul class="mb-0">
                        {% for issue, desc in issues %}
                            <li data-launch-req="{{ issue }}">{{ desc }}</li>
                        {% endfor %}
                    </ul>
                {% endblock message %}
            {% endembed %}
            
            {% endblock %}
        {% endembed %}
    </div>

    {% endif %}