<html>
<head>
    {#<title>{{ emailSubject }}</title>#}
</head>
<body>


<div style="height:100%;margin:0;padding:0;width:100%">

    <center>
        <table id="m_-8871194831153177657bodyTable"
               style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%" width="100%" height="100%"
               align="center" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td id="m_-8871194831153177657bodyCell" style="height:100%;margin:0;padding:0;width:100%" valign="top"
                    align="center">

                    <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td id="m_-8871194831153177657templateHeader"
                                style="background:#23363c none no-repeat center/cover;background-color:#23363c;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:3px;padding-bottom:3px"
                                valign="top" align="center">

                                <table class="m_-8871194831153177657templateContainer"
                                       style="border-collapse:collapse;max-width:600px!important" width="100%"
                                       align="center" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td class="m_-8871194831153177657headerContainer"
                                            style="background:#transparent none no-repeat center/cover;background-color:#transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0"
                                            valign="top">
                                            <table class="m_-8871194831153177657mcnImageBlock"
                                                   style="min-width:100%;border-collapse:collapse" width="100%"
                                                   cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnImageBlockOuter">
                                                <tr>
                                                    <td style="padding:9px"
                                                        class="m_-8871194831153177657mcnImageBlockInner" valign="top">
                                                        <table class="m_-8871194831153177657mcnImageContentContainer"
                                                               style="min-width:100%;border-collapse:collapse"
                                                               width="100%" align="left" cellspacing="0" cellpadding="0"
                                                               border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td class="m_-8871194831153177657mcnImageContent"
                                                                    style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center"
                                                                    valign="top">

                                                                    <a href="https://yielders.us12.list-manage.com/track/click?u=a86a4ba2ee427285c284dcbba&amp;id=24abebb9e5&amp;e=446f2707e3"
                                                                       title="" target="_blank"
                                                                       data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://yielders.us12.list-manage.com/track/click?u%3Da86a4ba2ee427285c284dcbba%26id%3D24abebb9e5%26e%3D446f2707e3&amp;source=gmail&amp;ust=1508344532788000&amp;usg=AFQjCNEIfSxlZOUo0ehPfe_tAf8GInnBnQ">
                                                                        <img alt="Yielders"
                                                                             src="https://yielders.co.uk/bundles/app/images/LOGO_528_x_157-01.svg"
                                                                             style="max-width:78px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none"
                                                                             class="m_-8871194831153177657mcnImage CToWUd"
                                                                             width="78" align="middle">
                                                                    </a>

                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td id="m_-8871194831153177657templateBody"
                                style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:20px"
                                valign="top" align="center">

                                <table class="m_-8871194831153177657templateContainer"
                                       style="border-collapse:collapse;max-width:800px!important" width="100%"
                                       align="center" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td class="m_-8871194831153177657bodyContainer"
                                            style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0"
                                            valign="top">


                                            <table class="m_-8871194831153177657mcnTextBlock"
                                                   style="min-width:100%;border-collapse:collapse" width="100%"
                                                   cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnTextBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnTextBlockInner"
                                                        style="padding-top:9px" valign="top">


                                                        <table style="max-width:100%;min-width:100%;border-collapse:collapse"
                                                               class="m_-8871194831153177657mcnTextContentContainer"
                                                               width="100%" align="left" cellspacing="0" cellpadding="0"
                                                               border="0">
                                                            <tbody>
                                                            <tr>

                                                                <td class="m_-8871194831153177657mcnTextContent"
                                                                    style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#808080;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"
                                                                    valign="top">

                                                                    <p style="margin:10px 0;padding:0;color:#808080;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                                                                        <br><br>

                                                                        {#{{ body }}#}
                                                                        {{ body|trans|raw }}
                                                                        <br>

                                                                        Kind Regards&nbsp;<br>
                                                                        <br>
                                                                        <strong><span style="color:#69afc3">Team Yielders</span></strong>
                                                                    </p>

                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>


                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnDividerBlock"
                                                   style="min-width:100%;border-collapse:collapse;table-layout:fixed!important"
                                                   width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnDividerBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnDividerBlockInner"
                                                        style="min-width:100%;padding:18px">
                                                        <table class="m_-8871194831153177657mcnDividerContent"
                                                               style="min-width:100%;border-top:2px solid #eaeaea;border-collapse:collapse"
                                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnDividerBlock"
                                                   style="min-width:100%;border-collapse:collapse;table-layout:fixed!important"
                                                   width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnDividerBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnDividerBlockInner"
                                                        style="min-width:100%;padding:4px 18px">
                                                        <table class="m_-8871194831153177657mcnDividerContent"
                                                               style="min-width:100%;border-top:2px none #eaeaea;border-collapse:collapse"
                                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnButtonBlock"
                                                   style="min-width:100%;border-collapse:collapse" width="100%"
                                                   cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnButtonBlockOuter">
                                                <tr>
                                                    <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px"
                                                        class="m_-8871194831153177657mcnButtonBlockInner" valign="top"
                                                        align="center">
                                                        <table class="m_-8871194831153177657mcnButtonContentContainer"
                                                               style="border-collapse:separate!important;border-radius:5px;background-color:#00add8"
                                                               cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td class="m_-8871194831153177657mcnButtonContent"
                                                                    style="font-family:Helvetica;font-size:18px;padding:15px"
                                                                    valign="middle" align="center">
                                                                    <a class="m_-8871194831153177657mcnButton"
                                                                       title="FIND OUT MORE"
                                                                       href="https://yielders.us12.list-manage.com/track/click?u=a86a4ba2ee427285c284dcbba&amp;id=d93076475f&amp;e=446f2707e3"
                                                                       style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block"
                                                                       target="_blank"
                                                                       data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://yielders.us12.list-manage.com/track/click?u%3Da86a4ba2ee427285c284dcbba%26id%3Dd93076475f%26e%3D446f2707e3&amp;source=gmail&amp;ust=1508344532789000&amp;usg=AFQjCNGoUCb49D_uCXRi1aDErMlLUMnMlw">FIND
                                                                        OUT MORE</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnDividerBlock"
                                                   style="min-width:100%;border-collapse:collapse;table-layout:fixed!important"
                                                   width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnDividerBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnDividerBlockInner"
                                                        style="min-width:100%;padding:9px 18px 0px">
                                                        <table class="m_-8871194831153177657mcnDividerContent"
                                                               style="min-width:100%;border-collapse:collapse"
                                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnDividerBlock"
                                                   style="min-width:100%;border-collapse:collapse;table-layout:fixed!important"
                                                   width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnDividerBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnDividerBlockInner"
                                                        style="min-width:100%;padding:18px">
                                                        <table class="m_-8871194831153177657mcnDividerContent"
                                                               style="min-width:100%;border-top:2px solid #eaeaea;border-collapse:collapse"
                                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnDividerBlock"
                                                   style="min-width:100%;border-collapse:collapse;table-layout:fixed!important"
                                                   width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnDividerBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnDividerBlockInner"
                                                        style="min-width:100%;padding:18px 18px 0px">
                                                        <table class="m_-8871194831153177657mcnDividerContent"
                                                               style="min-width:100%;border-collapse:collapse"
                                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnTextBlock"
                                                   style="min-width:100%;border-collapse:collapse" width="100%"
                                                   cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnTextBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnTextBlockInner"
                                                        style="padding-top:9px" valign="top">


                                                        <table style="max-width:100%;min-width:100%;border-collapse:collapse"
                                                               class="m_-8871194831153177657mcnTextContentContainer"
                                                               width="100%" align="left" cellspacing="0" cellpadding="0"
                                                               border="0">
                                                            <tbody>
                                                            <tr>

                                                                <td class="m_-8871194831153177657mcnTextContent"
                                                                    style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#808080;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"
                                                                    valign="top">

                                                                    RISK WARNING: Property Values can fall. Capital at
                                                                    Risk. Returns may vary. Financial product carrying
                                                                    potential risks.
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>


                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td id="m_-8871194831153177657templateFooter"
                                style="background:#23363c none no-repeat center/cover;background-color:#23363c;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:69px;padding-bottom:69px"
                                valign="top" align="center">

                                <table class="m_-8871194831153177657templateContainer"
                                       style="border-collapse:collapse;max-width:600px!important" width="100%"
                                       align="center" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td class="m_-8871194831153177657footerContainer"
                                            style="background:#transparent none no-repeat center/cover;background-color:#transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0"
                                            valign="top">
                                            <table class="m_-8871194831153177657mcnFollowBlock"
                                                   style="min-width:100%;border-collapse:collapse" width="100%"
                                                   cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnFollowBlockOuter">
                                                <tr>
                                                    <td style="padding:9px"
                                                        class="m_-8871194831153177657mcnFollowBlockInner" valign="top"
                                                        align="center">
                                                        <table class="m_-8871194831153177657mcnFollowContentContainer"
                                                               style="min-width:100%;border-collapse:collapse"
                                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding-left:9px;padding-right:9px"
                                                                    align="center">
                                                                    <table style="min-width:100%;border-collapse:collapse"
                                                                           class="m_-8871194831153177657mcnFollowContent"
                                                                           width="100%" cellspacing="0" cellpadding="0"
                                                                           border="0">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="padding-top:9px;padding-right:9px;padding-left:9px"
                                                                                valign="top" align="center">
                                                                                <table style="border-collapse:collapse"
                                                                                       align="center" cellspacing="0"
                                                                                       cellpadding="0" border="0">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" align="center">


                                                                                            <table style="display:inline;border-collapse:collapse"
                                                                                                   align="left"
                                                                                                   cellspacing="0"
                                                                                                   cellpadding="0"
                                                                                                   border="0">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding-right:10px;padding-bottom:9px"
                                                                                                        class="m_-8871194831153177657mcnFollowContentItemContainer"
                                                                                                        valign="top">
                                                                                                        <table class="m_-8871194831153177657mcnFollowContentItem"
                                                                                                               style="border-collapse:collapse"
                                                                                                               width="100%"
                                                                                                               cellspacing="0"
                                                                                                               cellpadding="0"
                                                                                                               border="0">
                                                                                                            <tbody>
                                                                                                            <tr>
                                                                                                                <td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px"
                                                                                                                    valign="middle"
                                                                                                                    align="left">
                                                                                                                    <table style="border-collapse:collapse"
                                                                                                                           width=""
                                                                                                                           align="left"
                                                                                                                           cellspacing="0"
                                                                                                                           cellpadding="0"
                                                                                                                           border="0">
                                                                                                                        <tbody>
                                                                                                                        <tr>

                                                                                                                            <td class="m_-8871194831153177657mcnFollowIconContent"
                                                                                                                                valign="middle"
                                                                                                                                width="24"
                                                                                                                                align="center">
                                                                                                                                <a href="https://yielders.us12.list-manage.com/track/click?u=a86a4ba2ee427285c284dcbba&amp;id=68d57d2a43&amp;e=446f2707e3"
                                                                                                                                   target="_blank"
                                                                                                                                   data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://yielders.us12.list-manage.com/track/click?u%3Da86a4ba2ee427285c284dcbba%26id%3D68d57d2a43%26e%3D446f2707e3&amp;source=gmail&amp;ust=1508344532789000&amp;usg=AFQjCNFSojNyGRWKwJznAn7GydQluFo9dA"><img
                                                                                                                                            src="https://ci4.googleusercontent.com/proxy/8j-DDnLusVH50YFUKm2i383mq41zzkTF0OmfaicBkjqbHcMUathKBT2sedC9niEZakoPEtRHargdZ4RbQjfIuq8GbtTu18d89xfHhaPIB2F5Lpp4cNaLZoDImoeXaRHVsy7_i-xdOFXoMg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-facebook-48.png"
                                                                                                                                            style="display:block;border:0;height:auto;outline:none;text-decoration:none"
                                                                                                                                            class="CToWUd"
                                                                                                                                            width="24"
                                                                                                                                            height="24"></a>
                                                                                                                            </td>


                                                                                                                        </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>


                                                                                            <table style="display:inline;border-collapse:collapse"
                                                                                                   align="left"
                                                                                                   cellspacing="0"
                                                                                                   cellpadding="0"
                                                                                                   border="0">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding-right:10px;padding-bottom:9px"
                                                                                                        class="m_-8871194831153177657mcnFollowContentItemContainer"
                                                                                                        valign="top">
                                                                                                        <table class="m_-8871194831153177657mcnFollowContentItem"
                                                                                                               style="border-collapse:collapse"
                                                                                                               width="100%"
                                                                                                               cellspacing="0"
                                                                                                               cellpadding="0"
                                                                                                               border="0">
                                                                                                            <tbody>
                                                                                                            <tr>
                                                                                                                <td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px"
                                                                                                                    valign="middle"
                                                                                                                    align="left">
                                                                                                                    <table style="border-collapse:collapse"
                                                                                                                           width=""
                                                                                                                           align="left"
                                                                                                                           cellspacing="0"
                                                                                                                           cellpadding="0"
                                                                                                                           border="0">
                                                                                                                        <tbody>
                                                                                                                        <tr>

                                                                                                                            <td class="m_-8871194831153177657mcnFollowIconContent"
                                                                                                                                valign="middle"
                                                                                                                                width="24"
                                                                                                                                align="center">
                                                                                                                                <a href="https://yielders.us12.list-manage.com/track/click?u=a86a4ba2ee427285c284dcbba&amp;id=4c7c1da8e3&amp;e=446f2707e3"
                                                                                                                                   target="_blank"
                                                                                                                                   data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://yielders.us12.list-manage.com/track/click?u%3Da86a4ba2ee427285c284dcbba%26id%3D4c7c1da8e3%26e%3D446f2707e3&amp;source=gmail&amp;ust=1508344532789000&amp;usg=AFQjCNH7xuZkaqnWPlqfouvWsQAZL-oenA"><img
                                                                                                                                            src="https://ci6.googleusercontent.com/proxy/eaQG4rpaZxGwH-rEAXH75vzcChjc63kc1kaLs3r7RuNM_pKZzdAi--XXmC7Hshqi15T7UcrQb4-Jyy5uCUL2jnst3AVeYh9BucqKdnT3SWD1LP9xJT3lKcewZZ7CV5wwYQI6moZb1XGb=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-twitter-48.png"
                                                                                                                                            style="display:block;border:0;height:auto;outline:none;text-decoration:none"
                                                                                                                                            class="CToWUd"
                                                                                                                                            width="24"
                                                                                                                                            height="24"></a>
                                                                                                                            </td>


                                                                                                                        </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>


                                                                                            <table style="display:inline;border-collapse:collapse"
                                                                                                   align="left"
                                                                                                   cellspacing="0"
                                                                                                   cellpadding="0"
                                                                                                   border="0">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding-right:10px;padding-bottom:9px"
                                                                                                        class="m_-8871194831153177657mcnFollowContentItemContainer"
                                                                                                        valign="top">
                                                                                                        <table class="m_-8871194831153177657mcnFollowContentItem"
                                                                                                               style="border-collapse:collapse"
                                                                                                               width="100%"
                                                                                                               cellspacing="0"
                                                                                                               cellpadding="0"
                                                                                                               border="0">
                                                                                                            <tbody>
                                                                                                            <tr>
                                                                                                                <td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px"
                                                                                                                    valign="middle"
                                                                                                                    align="left">
                                                                                                                    <table style="border-collapse:collapse"
                                                                                                                           width=""
                                                                                                                           align="left"
                                                                                                                           cellspacing="0"
                                                                                                                           cellpadding="0"
                                                                                                                           border="0">
                                                                                                                        <tbody>
                                                                                                                        <tr>

                                                                                                                            <td class="m_-8871194831153177657mcnFollowIconContent"
                                                                                                                                valign="middle"
                                                                                                                                width="24"
                                                                                                                                align="center">
                                                                                                                                <a href="https://yielders.us12.list-manage.com/track/click?u=a86a4ba2ee427285c284dcbba&amp;id=eff723be88&amp;e=446f2707e3"
                                                                                                                                   target="_blank"
                                                                                                                                   data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://yielders.us12.list-manage.com/track/click?u%3Da86a4ba2ee427285c284dcbba%26id%3Deff723be88%26e%3D446f2707e3&amp;source=gmail&amp;ust=1508344532789000&amp;usg=AFQjCNH0kvAiDm9o70FLnjr2iBoBO2dYVw"><img
                                                                                                                                            src="https://ci3.googleusercontent.com/proxy/LTqnuW6bD1SXY3wzyRXm28PTDj-ALToQYjl7sjRGkkbtkuA-9cr1kRCIdu3kjlInfnJLuttucJW-5NK93ge4ch_6gAxLV7Y8wpAZFElRA-zCKa7RN6K2IgamPymPTyY5cNfsu4Fj5DMyUT0=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-instagram-48.png"
                                                                                                                                            style="display:block;border:0;height:auto;outline:none;text-decoration:none"
                                                                                                                                            class="CToWUd"
                                                                                                                                            width="24"
                                                                                                                                            height="24"></a>
                                                                                                                            </td>


                                                                                                                        </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>


                                                                                            <table style="display:inline;border-collapse:collapse"
                                                                                                   align="left"
                                                                                                   cellspacing="0"
                                                                                                   cellpadding="0"
                                                                                                   border="0">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding-right:0;padding-bottom:9px"
                                                                                                        class="m_-8871194831153177657mcnFollowContentItemContainer"
                                                                                                        valign="top">
                                                                                                        <table class="m_-8871194831153177657mcnFollowContentItem"
                                                                                                               style="border-collapse:collapse"
                                                                                                               width="100%"
                                                                                                               cellspacing="0"
                                                                                                               cellpadding="0"
                                                                                                               border="0">
                                                                                                            <tbody>
                                                                                                            <tr>
                                                                                                                <td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px"
                                                                                                                    valign="middle"
                                                                                                                    align="left">
                                                                                                                    <table style="border-collapse:collapse"
                                                                                                                           width=""
                                                                                                                           align="left"
                                                                                                                           cellspacing="0"
                                                                                                                           cellpadding="0"
                                                                                                                           border="0">
                                                                                                                        <tbody>
                                                                                                                        <tr>

                                                                                                                            <td class="m_-8871194831153177657mcnFollowIconContent"
                                                                                                                                valign="middle"
                                                                                                                                width="24"
                                                                                                                                align="center">
                                                                                                                                <a href="https://yielders.us12.list-manage.com/track/click?u=a86a4ba2ee427285c284dcbba&amp;id=b769d57586&amp;e=446f2707e3"
                                                                                                                                   target="_blank"
                                                                                                                                   data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://yielders.us12.list-manage.com/track/click?u%3Da86a4ba2ee427285c284dcbba%26id%3Db769d57586%26e%3D446f2707e3&amp;source=gmail&amp;ust=1508344532789000&amp;usg=AFQjCNECLmzCg3M1fAFU9FXnj_jt9v7jZg"><img
                                                                                                                                            src="https://ci4.googleusercontent.com/proxy/XKgMJ7PipOogdjlwc3gffKOEd3ZL3UzwEBPyKMafBqO4Wo-a3qPu4Zkjk1nkaVVRiPJp-y2iQvAyqSwIr2D8sDDbRshZobzmo1QOgBil8Hqd2Bk9N1R3WUCKWuhTDwkD-uUstv5FGyfYdQ=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-linkedin-48.png"
                                                                                                                                            style="display:block;border:0;height:auto;outline:none;text-decoration:none"
                                                                                                                                            class="CToWUd"
                                                                                                                                            width="24"
                                                                                                                                            height="24"></a>
                                                                                                                            </td>


                                                                                                                        </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>


                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnDividerBlock"
                                                   style="min-width:100%;border-collapse:collapse;table-layout:fixed!important"
                                                   width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnDividerBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnDividerBlockInner"
                                                        style="min-width:100%;padding:18px">
                                                        <table class="m_-8871194831153177657mcnDividerContent"
                                                               style="min-width:100%;border-top:2px solid #505050;border-collapse:collapse"
                                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnImageBlock"
                                                   style="min-width:100%;border-collapse:collapse" width="100%"
                                                   cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnImageBlockOuter">
                                                <tr>
                                                    <td style="padding:0px"
                                                        class="m_-8871194831153177657mcnImageBlockInner" valign="top">
                                                        <table class="m_-8871194831153177657mcnImageContentContainer"
                                                               style="min-width:100%;border-collapse:collapse"
                                                               width="100%" align="left" cellspacing="0" cellpadding="0"
                                                               border="0">
                                                            <tbody>
                                                            <tr>
                                                                <td class="m_-8871194831153177657mcnImageContent"
                                                                    style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center"
                                                                    valign="top">

                                                                    <a href="https://yielders.us12.list-manage.com/track/click?u=a86a4ba2ee427285c284dcbba&amp;id=6647ae1dbf&amp;e=446f2707e3"
                                                                       title="" target="_blank"
                                                                       data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://yielders.us12.list-manage.com/track/click?u%3Da86a4ba2ee427285c284dcbba%26id%3D6647ae1dbf%26e%3D446f2707e3&amp;source=gmail&amp;ust=1508344532789000&amp;usg=AFQjCNFoAVEU9c0wEM9vqEAEao6Gnt-dtg">
                                                                        <img alt="Yielders - Invest. Grow. Yield"
                                                                             src="https://yielders.co.uk/bundles/app/images/LOGO_528_x_157-01.svg"
                                                                             style="max-width:560px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none"
                                                                             class="m_-8871194831153177657mcnImage CToWUd"
                                                                             width="280" align="middle">
                                                                    </a>

                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnTextBlock"
                                                   style="min-width:100%;border-collapse:collapse" width="100%"
                                                   cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnTextBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnTextBlockInner"
                                                        style="padding-top:9px" valign="top">


                                                        <table style="max-width:100%;min-width:100%;border-collapse:collapse"
                                                               class="m_-8871194831153177657mcnTextContentContainer"
                                                               width="100%" align="left" cellspacing="0" cellpadding="0"
                                                               border="0">
                                                            <tbody>
                                                            <tr>

                                                                <td class="m_-8871194831153177657mcnTextContent"
                                                                    style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#ffffff;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center"
                                                                    valign="top">

                                                                    <em>Copyright © {{ 'now'|date('Y') }} Yielders, All rights
                                                                        reserved.</em><br>
                                                                    <br>
                                                                    <strong>Our registered address is:</strong><br>
                                                                    <div class="m_-8871194831153177657vcard"><span
                                                                                class="m_-8871194831153177657org m_-8871194831153177657fn">Yielders</span>
                                                                        <div class="m_-8871194831153177657adr">
                                                                            <div class="m_-8871194831153177657street-address">
                                                                                82 High Street
                                                                            </div>
                                                                            <span class="m_-8871194831153177657locality">Warrington</span>,
                                                                            <span class="m_-8871194831153177657region"></span>
                                                                            <span class="m_-8871194831153177657postal-code">WA3 3DA</span>
                                                                            <div class="m_-8871194831153177657country-name">
                                                                                United Kingdom
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>


                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="m_-8871194831153177657mcnTextBlock"
                                                   style="min-width:100%;border-collapse:collapse" width="100%"
                                                   cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="m_-8871194831153177657mcnTextBlockOuter">
                                                <tr>
                                                    <td class="m_-8871194831153177657mcnTextBlockInner"
                                                        style="padding-top:9px" valign="top">


                                                        <table style="max-width:100%;min-width:100%;border-collapse:collapse"
                                                               class="m_-8871194831153177657mcnTextContentContainer"
                                                               width="100%" align="left" cellspacing="0" cellpadding="0"
                                                               border="0">
                                                            <tbody>
                                                            <tr>

                                                                <td class="m_-8871194831153177657mcnTextContent"
                                                                    style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#ffffff;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center"
                                                                    valign="top">

                                                                    Yielders Ltd. Company Number: 09757611<br>
                                                                    Authorised and regulated by the Financial Conduct
                                                                    Authority (no. 745636).<br>
                                                                    Minimum investment applies.
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>


                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>


</body>
</html>
