{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    {% if invalid_username is defined %}
        <p class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    {% endif %}
    <div class="form-group has-feedback">
        <input placeholder="{{ 'resetting.request.username'|trans }}" type="email" class="form-control" id="username" name="username" required="required" />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="row">
            <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
