<div class="col-lg-12 mb-3">
    <div class="card p-3 border rounded text-center" id="verification-prompt">
        <div><span class="badge badge-warning ml-1 ml-lg-0 mb-1">Pending Action</span></div>
        <h4 class="mb-2">Please confirm your details</h4>
        <p>As a regulated financial institution, we need to ensure information we hold on you is up to date and accurate.</p>
        <p>Certain site functionality (such as investments and withdrawals) may be unavailable or not work until this verification is complete.</p>
        <div class="d-flex justify-content-center" style="gap: 0.5rem;">
            <a class="btn btn-primary rounded-pill px-1 px-sm-2" href={{ path('verification_identity') }} role="button">Start Verification</a>
        </div>
    </div>
</div>