<div class="card p-3 border rounded text-center" id="proof-of-address-prompt">
    <div><span class="badge badge-warning ml-1 ml-lg-0 mb-1">Pending Action</span></div>
    <h4 class="mb-2">New Proof of Address Requested</h4>
    <p>A new proof of address has been requested for you bank account registration(s). You can upload a new proof of address via the link below:</p>
    <div class="d-flex justify-content-center" style="gap: 0.5rem;">
        <a class="btn btn-primary rounded-pill px-1 px-sm-2 text-nowrap" href={{ path('bank_account_registrations_edit_address') }} role="button">Update Address</a>
    </div>
</div>