<p class="font-weight-bold">Estimated reading time: 2 min</p>
    <p>Due to the potential for losses, the Financial Conduct Authority (FCA) considers this investment to be high risk.</p>
    <p class="font-weight-bold">What are the key risks?</p>

    <ol>
        <li class="pb-1">
            <b>You could lose all the money you invest</b>
            <ul>
                <li>Investments are in Special Purpose Vehicle (SPV) which owns property. Investors can
                lose some or all of the money they invested, as property prices can go down or property
                can be damaged and require repairs</li>
                <li> Advertised rates of return aren't guaranteed. This is not a savings account. If the
                SPV encounters issues that incur additional costs, dividends may be reduced or suspended,
                so you could earn less money than expected.</li>
            </ul>
        </li>

        <li class="pb-1">
            <b>You won't get your money back quickly</b>
            <ul>
                <li>Investments last for several years, so you should be prepared to wait for your money
                to be returned even if the SPV you're investing in repays on time.</li>
                <li>You have the opportunity to sell your investment early through the secondary market
                but there is no guarantee you will be able to find someone willing to buy.</li>
                <li>You may have to pay exit fees or additional charges to sell your investment early
                through the secondary market.</li>
            </ul>
        </li>

        <li class="pb-1">
            <b>Don't put all your eggs in one basket</b>
            <ul>
                <li>Putting all your money into a single platform or type of investment is risky. Spreading
                your money across different investments makes you less dependent on any one to do well. In
                addition, we also recommend that investors diversify their investment(s) across multiple
                properties on the platform. A good rule of thumb is not to invest more than 10% of your money in
                    <a class="font-weight-bold" 
                        href="https://www.fca.org.uk/investsmart/5-questions-ask-you-invest"
                        target="_blank"><u>high-risk investments.</u>
                    </a>
                </li>
            </ul>
        </li>

        <li class="pb-1">
            <b>The value of your investment can be reduced</b>
            <ul>
                <li>The percentage of the SPV that you own will decrease if the SPV issues more shares. This
                could mean that the value of your investment reduces, depending on the additional capital
                required and the performance of the SPV.</li>
                <li>These new shares could have additional rights that your shares don't have, such as the
                right to receive a fixed dividend, which could further reduce your chances of getting a return
                on your investment.</li>
            </ul>
        </li>

        <li class="pb-1">
            <b>You are unlikely to be protected if something goes wrong</b>
            <ul>
                <li>Protection from the Financial Services Compensation Scheme (FSCS), in relation to claims
                against failed regulated firms, does not cover poor investment performance. Read more on the
                FSCS investment protection checker
                <a class="font-weight-bold" 
                        href="https://www.fscs.org.uk/check/investment-protection-checker/"
                        target="_blank"><u>here.</u>
                    </a></li>
                <li>Protection from the Financial Ombudsman Service (FOS) does not cover poor investment
                performance. If you have a complaint against an FCA-regulated firm, the FOS may be able to
                consider it. Learn more about FOS protection
                <a class="font-weight-bold" 
                        href="https://www.financial-ombudsman.org.uk/consumers"
                        target="_blank"><u>here.</u>
                    </a></li>
                <li>If you are interested in learning more about how to protect yourself, visit the FCA's website 
                <a class="font-weight-bold" 
                        href="https://www.fca.org.uk/investsmart"
                        target="_blank"><u>here.</u>
                    </a>
                For further information about investment-based crowdfunding, visit the FCA's website 
                <a class="font-weight-bold" 
                        href="https://www.fca.org.uk/consumers/crowdfunding"
                        target="_blank"><u>here.</u>
                    </a></li>
            </ul>
        </li>
    </ol>