<div class="full-block top-yielder">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 left">
                <span class="image-1"> <img src="{{asset('bundles/app/images/temp-9.png') }}" loading="lazy" alt="top yielder" /></span>
            </div>
            <div class="col-sm-5 right">
                <h3>Become a</h3>
                <h2>Top Yielder</h2>
                <p>Invest for more then £50,000 and become a Top Yielder. Have access to pre-launch properties and
                    track your investments through your upgraded profile dashboard.</p>
                <a href="{{  path('become_top_yielder') }}" class="def-btn black">See the Benefits</a>
            </div>
        </div>
    </div>
</div>