<!-- Social -->
<div class="social-box my-6">
    <div class="container">
        <div class="social-wrap mx-auto border rounded-medium border-dark overflow-hidden" style="max-width:740px;">
         <div class="gallery-block">


            <link href="{{asset('bundles/app/css/jquery.socialfeed.css')}}" rel="stylesheet" type="text/css">

            <div class="social-feed-container responsive">
            </div>
         </div>

            <ul class="social list-inline d-flex align-items-center justify-content-center my-1">
                <li>
                    <p class="mb-0">Follow our Socialfeeds</p>
                </li>
                <li>
                    <a href="https://www.facebook.com/yielders/" class="fa fa-facebook" target="_blank" ></a>
                </li>
                <li>
                    <a class="fa fa-linkedin" href="https://www.linkedin.com/company/10108504?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10108504%2Cidx%3A1-1-1%2CtarId%3A1447691871995%2Ctas%3Ayielders" target="_blank"></a>
                </li>
                <li>
                    <a class="fa fa-twitter" href="https://twitter.com/yieldersuk" target="_blank"></a>
                </li>
                <li>
                    <a class="fa fa-instagram" href="https://www.instagram.com/yieldersuk/" target="_blank"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Social -->


