{% extends 'admin/layouts/base.html.twig' %}

{% block page_layout %}

	<div class="{{ containerClass|default('container-xxl') }} d-grid gap-4 py-3 py-lg-4 xl:tw-grid-cols-[1fr_24rem]">

		{% block page_main %}
			<main class="d-grid gap-4 {{ contentContainer|default('') }} tw-auto-rows-min">
				{% block page_header %}{% endblock page_header %}
				{% block page_content %}{% endblock page_content %}
			</main>
		{% endblock page_main %}

		{% block page_aside %}
			<aside class="d-flex flex-column gap-4">
				{% block side_content %}{% endblock side_content %}
			</aside>
		{% endblock page_aside %}

	</div>

{% endblock page_layout %}
