// colors
$grey-medium: #f1f1f1;
$grey-dark: #e2e2e2;
$card-hover-color: #eaf6f6;

$teal-dark: #45918a;

// text colors
$text-white-87 : rgba(255, 255, 255, 0.87);
$text-dark-87 : rgba(0, 0, 0, 0.87);

