{% set hasUserInfo = false %}
{% set authenticated = false %}
{% if app.session.has('authenticated') %}
	{% set authenticated = app.session.get('authenticated') %}
{% endif %}
{% if app.session.has('userInfo') %}
	{% set hasUserInfo = app.session.has('userInfo') %}
	{% set userInfo = app.session.get('userInfo') %}
{% endif %}
{% extends '@AppBundle/base.html.twig' %}
{% block title %}
    My Wallet
{% endblock %}
{% block body %}
	<main role="main">
		{% include('@AppBundle/Common/breadcrumb.html.twig')%}

		<!-- profile detail -->
		<section>
			<div class="container my-2 my-md-4">
				<div class="page-head pb-2 d-flex justify-content-between align-items-center">
					<h3><img src="{{asset('bundles/app/svg/')}}account_circle.svg" loading="lazy" alt="">
						My Profile</h3>
				</div>
				<div class="row no-gutters border-top">
					<div class="col-md-3">
						{% include('@AppBundle/Common/profilenav.html.twig')%}
					</div>
					<div class="col-md-9">
						<div
							class="tab-content p-1 pt-md-4 pl-md-4 pb-md-4" id="v-pills-tabContent">
							<!-- add new fund -->
							<div class="tab-pane fade show active">
								<div class="row mt-3">

									<!-- status -->
									<div class="col-lg-12">
										{# <div class="profile-banner portfolio-head wallet-profile">

											<div class="profile-info p-3 border-0 bg-info rounded-0 shadow-sm mb-4">
												<div class="row">
													<div class="col-md-6 u-name">
														<h3>Hi
															{{ userInfo.given_name }}
														</h3>
													</div>
													<div class="col-md-6 p-wal">
														<ul class="list-inline mb-0">
															<li>
																<p class="h3 mb-0">£
																	<span>{{ app.session.get('balance')|default('0.00')|replace({' ':','}) }}</span>
																</p>in my wallet
															</li>
															{% if wallet.id|default() %}
																<li class="">
																	<a class="def-btn" onclick="location.href='/add-funds-new'" ;>Add Funds</a>
																	<a class="def-btn" data-toggle="modal" data-target="#modalWithdrawFunds">Withdraw Funds</a>
																</li>
															{% endif %}
														</ul>
													</div>
												</div>


											</div>

										</div> #}
									</div>

									<!-- add dettails -->
									<div class="col-lg-12">
										<div class="transaction-history-block t-history">
											<div class="com-block">
												<section id="profile">
													<h4 class="mb-3">Direct Debit Settings</h4>
                                                    <hr class="mb-4">

													<div class="page-section">

														<div class="flex-row">
															<!-- .card -->
															<div class="card card-fluid mb-3">
																<!-- .card-body -->
																<div class="card-body text-center">
																	<div>
																		<form action="{{ path('direct_debit_setup') }}" method="POST">
																			<input class="btn btn-primary btn-lg" type="submit" value="Setup Direct Debit" />
																		</form>
																	</div>
																</div>
																<!-- /.card-body -->
															</div>
															<!-- /.card -->
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<style>

	.card-header:first-child {
		border-radius: 0 0;
	}

	.card {
		border-radius: 0 0;
	}

	</style>



{% endblock %}

{% block css %}
    <style>
    </style>
{% endblock %}

{% block pagejs %}

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
<!-- Include Font Awesome -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>


<script type="text/javascript">
	$(document).ready(function () {

	});
</script>


{% endblock %}
