{% if active is not defined %}
    {% set active = '' %}
{% endif %}
{% if sub_active is not defined %}
    {% set sub_active = '' %}
{% endif %}
{% set hasUserInfo = false %}
{% set authenticated = false %}
{% if app.session.has('authenticated') %}
    {% set authenticated= app.session.get('authenticated') %}
{% endif %}
{% set userInfo = [] %}
{% if app.session.has('userInfo') %}
    {% set hasUserInfo = app.session.has('userInfo') %}
    {% set userInfo = app.session.get('userInfo') %}
{% endif %}


{% extends '@AppBundle/onboarding-base-bs4.html.twig' %}


{% block body %}
    <section class="row">
        {% include '@AppBundle/Onboarding/sidebar-left.html.twig' %}

        <div class="col-md-9 right_section">
            {% include '@AppBundle/Onboarding/bs4_flash.html.twig' %}
            <div style="padding:10px 0; border-bottom:solid thin #333; text-transform:uppercase">
                <div class="font-medium">SELF ASSESSMENT</div>
            </div>
            <div class="row mt-4 ">
                <div class="offset-md-2 col-md-8">
                    <h3>Investor Appropriateness Test Failed</h3>
                    <p>Unfortunately, you did not pass the test. This means that investments offered by Yielders may not be suitable for you.</p>
                    <p>You can retry once immediately. But you must wait a week for any subsequent retries. If you would like more information about how Yielders works, <b><a href="https://help.yielders.co.uk/en" target="_blank">please visit the help centre</a></b>.</p>
                    <p>If you have any other questions, you can contact our team at <b>team@yielders.co.uk</b></p>
                    <div class="d-flex py-2" style="gap: 0.5rem;">
                        <a class="btn btn-light rounded-pill px-1 px-sm-2" href={{ path('homepage') }} role="button">Leave</a>
                        {% if canTakeAssessment %}
                            <a class="btn btn-primary rounded-pill px-1 px-sm-2" href={{ path('OB_assessment') }} role="button">Try Again</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
