{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

        {% block header %}
            <a id="logo" href=""><img src="https://www.yielders.co.uk/bundles/app/img/yielders-logo-final-white@3x.png" alt="Yielders Logo"></a>
        {% endblock header %}

